# Core
psutil
pynvml

# PyTorch com CUDA 11.8
torch==2.2.1+cu118
torchvision==0.17.1+cu118
torchaudio==2.2.1

# Análise e Manipulação de Dados
numpy<2.0
pandas
scikit-learn

# Visualização e Utilitários
matplotlib
seaborn
tqdm
Pillow
PyYAML
tabulate
